<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="~{fragments :: head}"></head>
<body class="container">

    <header th:replace="~{fragments :: header}"></header>

    <form method="post" action="/events/create">
        <div class="form-group">
            <label>Name
                <input th:field="${event.name}" type="text" class="form-control"/>
            </label>
            <p class="error" th:errors="${event.name}"></p>
        </div>
        <div class="form-group">
            <label>Description
                <input th:field="${event.description}" type="text" class="form-control"/>
            </label>
            <p class="error" th:errors="${event.description}"></p>
        </div>
        <div class="form-group">
            <label>Contact Email
                <input th:field="${event.contactEmail}" type="email" class="form-control"/>
            </label>
            <p class="error" th:errors="${event.contactEmail}"></p>
        </div>
        <div class="form-group">
            <label>Event Address
                <input th:field="${event.address}" type="text" class="form-control"/>
            </label>
            <p class="error" th:errors="${event.address}"></p>
        </div>
        <div class="form-group">
            <label>Event Category
                <select th:field="${event.eventCategory}" class="form-control">
                    <option th:each="eventCategory : ${categories}"
                            th:value="${eventCategory.id}"
                            th:text="${eventCategory.name}">
                    </option>
                </select>
                <p class="error" th:errors="${event.eventCategory}"></p>
            </label>
        </div>
        <div class="form-group">
            <label>RSVPs Sent For This Event
                <input th:field="${event.rsvp}" type="text" class="form-control"/>
            </label>
            <p class="error" th:errors="${event.rsvp}"></p>
        </div>
        <div class="form-group">
            <label>Maximum Number of Attendees
                <input th:field="${event.numberOfAttendees}" type="number" class="form-control"/>
            </label>
            <p class="error" th:errors="${event.numberOfAttendees}"></p>
        </div>
        <div class="form-group">
            <label>Date of Event
                <input th:field="${event.dateOfEvent}" type="date" class="form-control"/>
            </label>
            <p class="error" th:errors="${event.dateOfEvent}"></p>
        </div>
        <div class="form-group">
            <input type="submit" value="Create Event" class="btn btn-success"/>
        </div>
    </form>
</body>
</html>